//
   Created by roman on 5/18/16.

script(type='text/ng-template', id='analytics-field-modal.html')
  div.modal-header
    h3.modal-title {{ vm.report._id == null ? 'Add an' : 'Edit' }} Analytics Report
  div.modal-body
    div.form-horizontal