//
   Created by Roman Lo on 6/2/2016.
div(ng-controller='NotificationObserverTabController as oTab')
  h3 Notification Observer &nbsp;&nbsp;
    button.btn.btn-primary(ng-click='oTab.actions.openObserverModal()') Add an Observer
  div.panel.panel-default
    table.table.table-bordered
      thead
        tr
          th Name
          th Real Name
          th Email
          th Status
          th Actions
      tbody
        tr(ng-if='vm.observers.length == 0')
          td(colspan='5')
            p No observer
        tr(ng-repeat='ob in vm.observers')
          td {{ ob.name }}
          td {{ ob.realName }}
          td {{ ob.email }}
          td {{ ob.status }}
          td
            button.btn.btn-primary.btn-sm(ng-click='oTab.actions.openObserverModal(ob)') Edit
            | &nbsp;&nbsp;
            button.btn.btn-warning.btn-sm(ng-click='oTab.actions.openCopyObserverModal(ob)') Copy
            | &nbsp;&nbsp;
            button.btn.btn-danger.btn-sm(ng-click='oTab.actions.removeObserver(ob)') Remove

  h3 Notification Observer Group &nbsp;&nbsp;
    button.btn.btn-primary(ng-click='oTab.actions.openObserverGroupModal()') Add a Group
  div.panel.panel-default
    table.table.table-bordered
      thead
        tr
          th Name
          th Observers
          th Status
          th Actions
      tbody
        tr
          td AAA
          td Roman,
          td Active
          td
            button.btn.btn-primary.btn-sm(ng-click='oTab.actions.openObserverGroupModal(group)') Edit
            | &nbsp;&nbsp;
            button.btn.btn-danger.btn-sm(ng-click='oTab.actions.removeObserverGroup(group)') Remove

  // observer modal
  script(type='text/ng-template', id='notification-observer-modal.html')
    div.modal-header
      h3.modal-title {{ vm.ob._id == null ? 'Add an' : 'Edit' }} Observer
    div.modal-body
      div.form-horizontal
        div.form-group
          label.col-sm-3.control-label Name
          div.col-md-9
            input.form-control(type='text', ng-model='vm.observer.name', placeholder='Observer name')
        div.form-group
          label.col-sm-3.control-label Real Name
          div.col-md-9
            input.form-control(type='text', ng-model='vm.observer.realName', placeholder='Observer real name')
        div.form-group
          label.col-sm-3.control-label Email
          div.col-md-9
            input.form-control(type='text', ng-model='vm.observer.email', placeholder='Observer E-mail')
        //- status
        div.form-group
          label.col-sm-3.control-label Status
          div.col-md-9
            div.btn-group
              label.btn(uib-btn-radio='1', ng-model='vm.observer.status', ng-class='vm.observer.status == 1 ? "btn-success" : "btn-default"') On
              label.btn(uib-btn-radio='0', ng-model='vm.observer.status', ng-class='vm.observer.status == 0 ? "btn-danger" : "btn-default"') Off
    div.modal-footer
      button.btn.btn-primary(ng-click='vm.actions.save()') {{ vm.filter._id == null ? 'Add' : 'Save' }}
      button.btn.btn-default(ng-click='vm.actions.dismiss()') Dismiss

  // observer group modal
  script(type='text/ng-template', id='notification-observer-group-modal.html')