head
  title= title
  link(rel='stylesheet', href='/javascripts/libs/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/common.css')

  //- script(src='/javascripts/libs/jquery/dist/jquery.js')

  //- script(src='/javascripts/libs/bootstrap/dist/js/bootstrap.min.js')

  block stylesheets
  block scripts