doctype html
html
  include ./includes/head.jade

  body#applicationScope

    include ./includes/nav-banner.jade

    .container.main#loadingContainer
      p Page is loading...

    .container.main.hidden#mainContainer(ng-cloak)
      block content

    include ./includes/foot.jade

    //- script(src='javascripts/libs/requirejs/require.js', type='text/javascript')

    script(type='text/javascript', src='//cdn.bootcss.com/require.js/2.1.22/require.js')
    script(type='text/javascript').
      // getting the controller path

      var mainContainer = document.getElementById('mainContainer');
      var loadingContainer = document.getElementById('loadingContainer');
      var controllerPathEl = document.getElementById('controllerPath');
      var controllerPath = controllerPathEl ? controllerPathEl.value : null;
      console.log(controllerPath);
      requirejs.config({
        baseUrl: "/javascripts/",
      });
      require(['config'], function () {
        'use strict';
        if (controllerPath) {
          require([
            controllerPath
          ], function (webapp) {
            // hide the loading message
            loadingContainer.className = 'hidden';
            // show the main container after everything is done.
            mainContainer.className = 'container-fluid main';
            // bootstraping the angular application
            angular.bootstrap(document.getElementById('applicationScope'), ['webapp']);
          });
        } else {
          require(['jquery', 'bootstrap'], function () {
            console.warn('no controller path was found. angular won\'t be loaded.');
            loadingContainer.className = 'hidden';
            mainContainer.className = 'container-fluid main';
            mainContainer.removeAttribute('ng-cloak');
            $('.dropdown-toggle').dropdown();
          });
        }
      });
