//
   Created by Roman Lo on 5/5/2016.


div.row.search-option-section
  div.col-md-12
    div.panel.panel-default
      div.panel-body
        .form-inline
          include ../common/datetime-range-select
          .form-group
            label Compare Set:&nbsp;
            select.form-control(ng-options='set._id as set.name for set in vm.compareSets | orderBy:"name"', ng-model='vm.options.compareSetId', ng-change='vm.actions.onCompareSetChange()')
          .form-group
            button.btn.btn-primary(ng-click='vm.actions.analyze()') Analyze

