//
   Created by Roman Lo on 6/2/2016.

extends ../../layout

block stylesheets

block scripts


block content

  div.row
    div.col-sm-12
      h3 Notification Dashboard &nbsp;&nbsp;
        button.btn.btn-primary.btn-sm Notification Management
      table.table.table-bordered
        thead
          tr
            th Group
            th Observers
            th Watcher
            th Next Run Time
            th Running Status
            th Notification Status
            th(colspan='2') Actions
        tbody
          tr
            td(rowspan='2') 1
            td(rowspan='2') 1
            td 2
            td 3
            td 4
            td 5
            td 5
            td(rowspan='2') 5
          tr
            td 3
            td 3
            td 4
            td 5
            td 5
        tbody
          tr
            td(rowspan='3') 2
            td(rowspan='3') 2
            td 2
            td 3
            td 4
            td 5
            td 5
            td(rowspan='3') 5
          tr
            td 3
            td 3
            td 4
            td 5
            td 5
          tr
            td 4
            td 3
            td 4
            td 5
            td 5
