//
   Created by roman on 8/12/16.

extends ../../layout

block stylesheets

block scripts


block content
  div.row
    div.col-sm-12
      h3 Notification Pool(s) Configuration Central
        button.btn.btn-primary.btn-sm(ng-click='vm.actions.addOrUpdatePool()') Add a Pool

  div.row

