//
   Created by roman on 8/12/16.

extends ../../layout

block stylesheets

block scripts


block content
  div.row
    div.col-sm-12
      h3 Notification Pool(s) Configuration Central &nbsp;&nbsp;
        button.btn.btn-primary.btn-sm(ng-click='vm.actions.addOrUpdatePool()') Add a Pool

  div.row
    div.col-sm-12
      table.table.table-bordered
        thead
          tr
            th ID
            th Title
            th Cron Expression &nbsp;
              a(href='https://github.com/node-schedule/node-schedule#cron-style-scheduling', title='About cron-like expression', target='_blank')
                i.glyphicon.glyphicon-question-sign
            th Targets
            th Observers
            th Status
            th Running State
            th Actions
        tbody
          tr(ng-repeat='pool in vm.pools')
            td {{ pool._id }}
            td {{ pool.title }}
            td {{ pool.cron }}
            td

            td {{ pool.observers }}
            td {{ pool._id }}
            td {{ pool._id }}
            td
              button.btn.btn-primary.btn-sm(ng-click='vm.actions.addOrUpdatePool(pool)') Edit
              button.btn.btn-primary.btn-sm(ng-click='vm.actions.removePool(pool)') Remove



  script(type='text/ng-template', id='notification-pool-config-modal.html')
    div.modal-header
      h3.modal-title {{ modal.isForAdd ? 'Add an' : 'Edit' }} Observer Group