html, body {

}

.container-fluid.main,
.container.main {
  margin-top: 60px;
}

hr.sm {
  margin: 20px 0;
}

hr.xs {
  margin: 10px 0;
}

.form-inline .form-group {
  margin: 5px 10px 5px 0;
}

.pagination-row .pagination {
  margin: 0;
}

.reserve-field-container p {
  word-wrap: break-word;
}

.code-container {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.code-container .panel-body {
  padding: 0;
}

.code-container .code-pre-wrapper {
  width: 900px;
  max-width: 100%;
}

.code-container .syntaxhighlighter {
  max-height: 600px;
  margin: 0 !important;
}

.condition-label {
  padding: 8px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.panel-heading-link {
  color: #fff;
}

.col-action {
  width: 300px;
}

.no-padding {
  padding: 0 !important;
}

.locked-report-state-table .compare-set-state-container {
  margin: 8px;
}

.locked-report-state-table .group-field-state-table-container {
  overflow-y: scroll;
  max-height: 200px;
}

.locked-report-state-table .group-field-state-table {
  margin: 0;
}

.locked-report-state-table .column-compare-set {
  width: 130px;
}
.locked-report-state-table .column-batch-actions {
  width: 130px;
}


.group-field-state-table .column-group-field-value {
  width: 150px;
}

.group-field-state-table .column-state {
  width: 80px;
}

.group-field-state-table .column-action {
  width: 220px;
  text-align: center;
}