//
   Created by Roman Lo on 5/18/2016.

extends ../../layout

block stylesheets


block scripts


block content

  //- indicates the controller path

  input#controllerPath(type='hidden', value='consoles/analytics/report-controller')

  //- use 'controller as' to distinguish properties in $rootScope and the current controller scope

  div(ng-controller='AnalyticsReportController as vm')

    div.row
      div.col-md-12
        h2 Analytics Report
        hr

    div.row(ng-if='vm.reports.length > 0')
      div.col-md-12
        div.panel.panel-default
          div.panel-body
            div.form-inline
              div.form-group
                label Report &nbsp;
                  a(href='', ng-click='vm.actions.reloadReports()', title='refresh report')
                    span.glyphicon.glyphicon-refresh
                  | &nbsp;:&nbsp;
                select.form-control(ng-model='vm.options.report', ng-options='report as report.name for report in vm.reports', ng-change='vm.actions.onReportChange()')

              include ../../includes/common/datetime-range-select

              div.form-group
                label Period:&nbsp;
                div.input-group
                  input.form-control(type='number',ng-model='vm.options.period')
                  span.input-group-btn(uib-dropdown='')
                    button.btn.btn-default(uib-dropdown-toggle='')
                      b {{ vm.options.periodUnit | periodUnit }} &nbsp;
                      span.caret
                    ul.dropdown-menu(uib-dropdown-menu='')
                      li(role='menuitem', ng-repeat='item in vm.periodUnits', ng-click='vm.options.periodUnit = item')
                        a(href='') {{ item | periodUnit }}

              div.form-group
                button.btn.btn-primary(ng-click='vm.actions.showReport()', ng-disabled='vm.states.processing') Build Report

    div.row
      div.col-md-12
        p(ng-if='vm.states.processing') Report is under construction, pls wait...
        div.report-container(ng-hide='vm.states.processing')