extends ../layout

block stylesheets
  

block scripts
  

block content

  //- indicates the controller path

  input#controllerPath(type='hidden', value='consoles/log-analytics-controller')

  //- use 'controller as' to distiguish properties in $rootScope and the current controller scope

  div(ng-controller='LogAnalyticsController as vm')
    
    

